@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*home page*/
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
}

.logo {
    cursor: pointer;
    size:500px;
}

.logo:hover {
    background-color: #f6be00;
}
.explore-button {
    padding: 9px 25px;
    background-color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover {
    background-color: #f6be00;
}

.carousel-inner {
    height: 600px;
    background-color: black;
}

.text-overlay {
    background-color: transparent;
    color: white;
    position:absolute;
    z-index:12;
    top:40%;
    left:0;
    width:100%;
    text-align:center;
    font-family: "Garamond", sans-serif;
    font-size:1000%;
    text-shadow: 2px 2px 4px #000000;
}


.d-block {
    opacity: .5;
    width: 100%;
}

.textButton {
    position:absolute;
    padding: 9px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    top: 500px;
    z-index:12;
    color:white;
    margin-left:43%;
    background-color:black;
    border:none;
}



.card-group {
    justify-content: space-between;
    background-color: rgba(0,0,0,0.2);
    font-family: "Montserrat", sans-serif;
    width:100%;
}

.card {
    background-color: black;
    border: none;
}

i {
    text-align:center;
    padding-top: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px 0px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .text-overlay {
      font-size: 50px;
      top:20%;
    }
    .card-group {
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        background-color:black;
    }
    .carousel-inner {
        height:250px;
    }
    img.logo {
        size:50px;
    }
  }

  @media screen and (min-width: 600px) {
      .text-overlay {
          font-size: 100px;
          top:20%;
      }
      .carousel-inner {
          height:425px;
      }
    }

    @media screen and (min-width: 768px) {
        .text-overlay {
            font-size: 150px;
            top:30%;
        }

    


/*explore page*/
.text-overlay-2 {
    background-color: transparent;
    color: white;
    position:absolute;
    z-index:12;
    left:0;
    width:100%;
    text-align:center;
    font-family: "Garamond", sans-serif;
    font-size:800%;
    text-shadow: 2px 2px 4px #000000;
    margin-top:20%;
} 

.form-group {
   width:100%;
   background-color:black;
}

.form-control {
    width: 400px;
    text-align:center;
    font-family: "Montserrat", sans-serif;
}

.searchButton {
    background-color:black;
    color: white;
    border-style: none;
    padding: 10px 20px 13px 20px;
}

.logo {
    height: 50px;
    width: 200px;
}

#parks .col-md-3 img{
    height:240px;
    opacity:none;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

#parks .col-md-3 img:hover {
    opacity: .5;
}

#parks .col-md-3 {
    padding-bottom: 20px;
    padding-top: 10px;
}

.parkBtn {
    color:white;
    text-decoration:none;
    padding: 8px;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    border: none;
    background-color:black;
}

.parkBtn:hover {
    background-color: #f6be00;
}

.imgName {
    font-family: "Montserrat", sans-serif;
    padding:10px;
}

@media screen and (max-width: 600px) {
    .text-overlay-2 {
      font-size: 50px;
      top:40%;
    }
    
    .carousel-inner {
        height:250px;
    }

    .form-group {
        width:100%;
        padding:0px;
        margin:0;
        justify-content:center;

    }

    .form-control {
        width:100%;
        padding:0;
    }

    .searchButton {
        padding:5px 10px 10px 10px;
        align-items:center;
    }

    .logo {
        height:20px;
        width:100px;
        position:absolute;
    }
      
  }

  @media screen and (min-width: 600px) {
      .carousel-inner {
          height:300px;
      }

      .searchBar {
        margin-left:35%;
        padding:0px;
        bottom:500px;
    }

    input {
        width:200px;
    }

    .text-overlay-2 {
        top:0%;
    }

    }

    @media screen and (min-width: 768px) {
        .text-overlay-2 {
            font-size: 150px;
            top:20%;
        }
        .carousel-inner {
            height:500px;
        }
        .searchBar {
            margin-left:30%;
            padding:0px;
            bottom:800px;
            width:100%;
        }
    
        .states {
            width:500px;
        }
    
        .searchButton {
            padding:5px 10px 10px 10px
        }
      }

      @media screen and (min-width: 992px) {
           }
        .text-overlay-2 {
            top:10%;
        }
    
        input {
            width:300px;
        }
    
        .searchButton {
            padding:5px 10px 10px 10px
        }
              

/*park page*/
.parkName {
    font-family: "Montserrat", sans-serif;
    color:black;
}

    }