@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
}

.logo {
    cursor: pointer;
}

.logo:hover {
    background-color: #f6be00;
}
.explore-button {
    padding: 9px 25px;
    background-color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover {
    background-color: #f6be00;
}

.carousel-inner {
    height: 600px;
    background-color: black;
}

.text-overlay {
    background-color: transparent;
    color: white;
    position:absolute;
    z-index:12;
    top:40%;
    left:0;
    width:100%;
    text-align:center;
    font-family: "Garamond", sans-serif;
    font-size:1000%;
    text-shadow: 2px 2px 4px #000000;
}

.d-block {
    opacity: .5;
    width: 100%;
}

.text-button{
   display:inline-block;
   border:none;
   background-color:black;

}

.card-group {
    justify-content: space-between;
    background-color: rgba(0,0,0,0.2);
    font-family: "Montserrat", sans-serif;
}

.card {
    background-color: black;
    border: none;
}

i {
    text-align:center;
    padding-top: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px 0px;
    text-align: center;
}

.text-overlay-2 {
    background-color: transparent;
    color: white;
    position:absolute;
    z-index:12;
    top:35%;
    left:0;
    width:100%;
    text-align:center;
    font-family: "Garamond", sans-serif;
    font-size:800%;
    text-shadow: 2px 2px 4px #000000;
} 

.searchBar {
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
    padding: 60px 40px 40px 60px;
    width:100%;
    position:absolute;
    bottom:20px;
    z-index:12;
}

input {
    width: 400px;
    text-align:center;
    font-family: "Montserrat", sans-serif;
}

.searchButton {
    background-color:black;
    color: white;
    border-style: none;
    padding: 10px 20px 13px 20px;
}

.logo {
    height: 50px;
    width: 200px;
}

#parks .col-md-3 img{
    height:240px;
    opacity:none;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

#parks .col-md-3 img:hover {
    opacity: .5;
}

#parks .col-md-3 {
    padding-bottom: 20px;
    padding-top: 10px;
}

.parkBtn {
    color:white;
    text-decoration:none;
    padding: 8px;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    border: none;
    background-color:black;
}

.parkBtn:hover {
    background-color: #f6be00;
}

.imgName {
    font-family: "Montserrat", sans-serif;
    padding:10px;
}

.parkName {
    font-family: "Montserrat", sans-serif;
    color:black;
}

